body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
header{
    height: 120px;
    display: flex;
    justify-content: center;

}
.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
}
.menu{
    
    display: flex;
    align-items: center;
}
.logo{

    display: flex;
    align-items: center;
    
}
nav ul,
nav li{
    list-style: none;
    margin: 0;
    padding:0;
    text-decoration: none;
}
nav ul {
    display: flex;
}
nav a{
    display: block;
    text-decoration:none;
    padding: 15px;
    text-transform: uppercase;
    color: #727272;
}
nav .active a,
nav a:hover{
    background-color: #39aae1;
    color: white;
    
}
#banner{
    display: flex;
    justify-content: center;
    background-image: url("../imagens/img1.jpg");
    background-position: center;
    background-size:cover; /** Propriedade que define a adptação  da imagem de acordo com cada monitor **/
    height: 670px;
}
.column{
    flex-direction: column;
}
.banner-headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-headline h1{
    color: white;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 400px;
}
.banner-headline h2{
    color: white;
    font-size: 21px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 15px;
}
.banner-opitions{
    display: flex;
    height:210px;
    color: white;
    
}
.banner1{
    flex: 1;
    background-color: #39aae1;
    padding: 20px;
    
}
.banner2{
    flex: 1;
    background-color: #0079c7;
    padding: 20px;
}
.banner3{
    flex: 1;
    background-color:#2b4c99;
    padding: 20px;
}
.banner-title{
    font-size: 21px;
}
.banner-desc{
    font-size: 15px;
    margin: 20px 0px;
}
.banner-opitions a{
    display: inline-block;
    border: 1px solid white;
    padding:5px 15px;
    color: white;
    font-size: 13px;
    text-decoration: none;
    
}
.time{
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.651);
}
#geral{
    display: flex;
    justify-content: center;
}
#geral section{
    flex: 2;
}
#geral aside{
    flex: 1;
}
.widget-title{
    margin:30px 0 20px 0;
}
.widget-title-text{
    color: black;
    font-size: 21px;
    font-weight: bold;
}
.widget-title-bar{
    width: 50px;
    height: 2px;
    background-color: #0079c7;
    margin-top: 10px;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.conteudo{
    display: flex;
    justify-content: space-between;
    margin: 14px 0;
}
.conteudo-item{
    
    width: 160px;
    height: 150px;
    background-color: #0079c7;
}
.widget-desc{
    margin-bottom: 50px;
}
article{
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}
article .news_data{
    display: flex;
}
.news_posted_at{
    background-color:#2b4c99 ;
    color: white;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;


}
.news_comments{
    background-color:#39aae1 ;
    color: white;
    font-size: 12px;
    padding: 10px;
}
.news_thumbnail {
    margin-top: 30px;
}
.news_thumbnail img {
    width: 100%;
    height: auto;
    
}
.news_title{
    margin: 25px 0px;
    font-size: 23px;
    color: black;

}
.news_resumo{
    font-size: 14px;
    color: #5c5c5c;
    line-height: 20px;
    margin-bottom: 30px;
    
}